.squrae-wraper {
    display: flex;
    width: 500px;
    height: 400px;
    outline: solid yellow;
    justify-content: center;
    padding-top: 100px;

}

.squrae:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: red;
}

.squrae:nth-child(2) {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: relative;
    top: 120px;
    left:20px;
}

.squrae:nth-child(3) {
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    position: relative;
    top: 60px;
    right: 140px;
}

/* Я третій блок поставив замість 2 і другий замість 3  */